
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport<" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title> Result page </title>

</head>


<body class="upload-page" style="background-color:blueviolet; font-size:15px; color:white;">

<h3 class="text-white"> Model Prediction </h3>

<h4> image name : {{ name }} </h4>
<img src= "data:image/jpg;base64,{{ image }}" alt="uploaed photo" width="400" height="400">
<h3>result</h3>
<!-- <p>{{ result }}</p> -->

<table border=2>
{% for key, value in result.items() %}
<tr>
<td>
<b>{{key}}</b>
</td>
<td>
{{value}}
</td>
</tr>
{% endfor %}
</table>

</body>

</html>
