

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport<" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>My Demo UI Project </title>
</head>

   <body style="background-color:blueviolet; font-size:15px; color:white; ">

     <form action = "/pred" method = "POST" enctype = "multipart/form-data">
          <input type = "file" name = "file">
          <input type = "submit">
    </form>

   </body>

</html>
